<% provide(:title, 'About') %>
<% provide(:file_name, 'aboutback.jpg') %>
<span class="headline">About The Lakes of Desolation</span>


<div class="container transb">
  <div class="about-text"><p>I grew up on the north shore of Lake Tahoe with a view of the eastern peaks of Desolation Wilderness from my childhood home. Despite spending 18 years within sight of Desolation much of it remained unexplored. There was great hiking, skiing and biking out the back door of my house, so I visited only a couple of the lakes in the "far away" Desolation Wilderness. After being away from Tahoe and the mountains for 14 years I moved back to San Francisco and started to visit Tahoe, now as a tourist. Seeing Eagle Lake above Emerald Bay for the first time on a visit with my wife in 2011 ingited an interest in Desolation Wilderness. Shortly thereafter a spring hike to Lake Genevieve and Crag Lake confirmed my interest in the area and I have been hiking and exploring it as much as possible since.</p>

<p>Oddly, it took years of city and low-land living to give me a true appreciation of the mountains in which I spent my youth. Now walking and exploring the mountains is where I feel the most at home. A peace, and contendedness that I cannot find in other places or pursuits fills me when I set foot on a trail leading to a lake or peak.</p>

<p>"Lakes of Desolation" was born from these feelings of connection, belonging and wonder. My goal is to visit and photograph each of the named lakes in Desolation Wilderness. This site will be a catalog of these photographs as well as a collection of trail essays and miscellaneous related information. As a whole I see the project as a record of my experiences of Desolation Wilderness. It is my hope that parts of this project will be of interest, or possibly help, to others who enjoy Desolation Wilderness.</p>
</div>
 
</div>


