<% provide(:title, 'About') %>
<% provide(:file_name, 'aboutback.jpg') %>
<span class="headline">About The Lakes of Desolation</span>


<div class="container transb">
  <h2 class="white">About Desolation Wilderness</h2>
  <div class="about-text">
  Desolation Wilderness is located just to the west of Lake Tahoe, and to the north of Highway 50 in El Dorado County, California. At 63,960 acres it is roughly half the size of Lake Tahoe. The area has been protected since 1931 when it was designated as a Primitive Area, and it became a part of the Federal Wilderness system in 1969. Characterized by large expanses of open granite, deep forests, towering peaks and of course many enchanting lakes. For more information visit the <a href="http://www.fs.usda.gov/wps/portal/fsinternet/!ut/p/c5/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gDfxMDT8MwRydLA1cj72BTJw8jAwgAykeaxcN4jhYG_h4eYX5hPgYwefy6w0H24dcPNgEHcDTQ9_PIz03VL8iNMMgycVQEAHcGOlk!/dl3/d3/L2dJQSEvUUt3QS9ZQnZ3LzZfMjAwMDAwMDBBODBPSEhWTjJNMDAwMDAwMDA!/?navtype=BROWSEBYSUBJECT&cid=stelprdb5157481&navid=110000000000000&pnavid=null&ss=110519&position=Not%2520Yet%2520Determined.Html&ttype=detail&pname=Lake%2520Tahoe%2520Basin%2520Mgt%2520Unit%2520-%2520Desolation%2520Wilderness">Forest Service Desolation Wilderness</a> page.

  <h2 class="white">About Me</h2>
  <p>I grew up on the north shore of Lake Tahoe with a view of the eastern peaks of Desolation Wilderness from my childhood home. Over the years I have lived in many places, but walking and exploring the mountains is where I feel the most at home. A peace, and contentedness that I cannot find in other places or pursuits fills me when I set foot on a trail leading to a lake or peak. My goal is to visit and photograph each of the named lakes within the Desolation Wilderness boundaries and publish those photographs here for those who are interested.</p>

  <h2 class="white">Contact Me</h2>
  <p>Feel free to reach out with questions comments or to share your Desolation experiences: e-mail m(at)m-mullen.com</p>

  <h2 class="white">Hear From Me</h2>
  <p>Follow me on Instagram for alternate views, and extra trip shots: <style>.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }</style>
<a href="http://instagram.com/wildlakes?ref=badge" class="ig-b- ig-b-24"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a></p>
<p>Join my mailing list for very occasional e-mail updates:
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif;  width:500px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//lakesofdesolation.us9.list-manage.com/subscribe/post?u=e82c5895d49acb3245fa3c85c&amp;id=117e073b65" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e82c5895d49acb3245fa3c85c_117e073b65" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup--></p>

</div>
 
</div>