<% provide(:file_name, randlake.filename ) %>
<span class="logoline small">Welcome to the</span>
<span class="logoline">Lakes of Desolation Wilderness</span>
<% if signed_in? %>
  <%= link_to "Sign out", signout_path, method: "delete" %>
<% end %>