<% provide(:title, 'All Lakes') %>
<% provide(:file_name, 'map.jpg') %>

<h1 class="topored">All Lakes</h1>
<div class="columnwrap">
<ul class="column1of2 trans">
<h2 class="topored">Visited Lakes</h2>
<% @lakessorted.each do |lake| %>
  <% if lake.visited %>
  <li>
    <span class="lakes"><%= link_to lake.name, lake %></span></br>
  </li>  
  <% end %>
<% end %>
</ul>

<ul class="column2of2 trans">
<h2 class="topored">Unvisited Lakes</h2>
<% @lakessorted.each do |lake| %>
  <% unless lake.visited %>
  <li>
    <span class="lakes"><%= lake.name %></span></br>
  </li>
  <% end %>
<% end %>
</ul>
</div>