<% provide(:title, 'All Lakes') %>
<% provide(:file_name, 'map.jpg') %>

<span class="headline topored">All Lakes</span>
<div class="columnwrap">
<ul class="column1of3 trans">
<h2 class="topored">Visited Lakes</h2>
<% @lakessorted.each do |lake| %>
  <% if lake.visited %>
  <li>
    <span class="lakes"><%= link_to lake.name, lake %></span></br>
  </li>  
  <% end %>
<% end %>
</ul>

<ul class="column2of3 trans">
<h2 class="topored">Nameless Lakes | <%= link_to "info", note_path("nameless-lakes") %></h2>
<% @lakessorted.each do |lake| %>
  <% if lake.nameless %>
  <li>
    <span class="lakes"><%= link_to lake.name, lake %></span></br>
  </li>  
  <% end %>
<% end %>
</ul>

<ul class="column3of3 trans">
<h2 class="topored">Unvisited Lakes</h2>
<% @lakessorted.each do |lake| %>
  <% unless lake.visited or lake.nameless %>
  <li>
    <span class="lakes"><%= lake.name %></span></br>
  </li>
  <% end %>
<% end %>
</ul>
</div>