<% provide(:title, 'All Lakes') %>
<% provide(:file_name, 'map.jpg') %>

<span class="headline topored">Lakes</span>
<div class="columnwrap">
<ul class="column1of3 trans">
<h2 class="topored"></h2>
<% @lakescols[0].each do |lake| %>
  <li>
    <span class="lakes"><%= link_to lake.name, lake %></span></br>
  </li>  
<% end %>
<h2 class="topored"></h2>
</ul>

<ul class="column2of3 trans">
<h2 class="topored"></h2>
<% @lakescols[1].each do |lake| %>
  <li>
    <span class="lakes"><%= link_to lake.name, lake %></span></br>
  </li>  
<% end %>
<h2 class="topored"></h2>
</ul>

<ul class="column3of3 trans">
<h2 class="topored"></h2>
<% @lakescols[2].each do |lake| %>
  <li>
    <span class="lakes"><%= link_to lake.name, lake %></span></br>
  </li>
<% end %>
<h2 class="topored"></h2>
</ul>
</div>