// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: grey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-bottom: 45px;
  font-family: Verdana, Geneva, sans-serif;
}

/* General sytles */

a {
  text-decoration: none;
  color: #00bfff; 
}

a:hover {
  text-decoration: none;
  color: #006485;
}

.headline {
  display: block;
  color: #606060;
  margin: 0 auto 10px auto;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  font-size: 3em;
  font-weight: bold;
}

.logoline {
  display: block;
  color: #606060;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: -25px;
}

.logoline li {
  padding: 2px 15px 2px 15px;
  border-radius: 2px;
  background: asset_url('bgw50.png') repeat;
}

.small {
  font-size: 1.25em;
  margin-top: 15px;
}

/* css for bottom footer */

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding: 5px;
   padding-bottom: 45px;   /* Height of the footer */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;   /* Height of the footer */
  text-align: center;
}

footer ul {
  
}

footer li {
  padding: 2px 15px 2px 15px;
  border: 1px solid #707070;
  border-radius: 2px;
  background: asset_url('bgw90.png') repeat;
}

footer li:hover {
  background: asset_url('bgw50.png') repeat;
}

footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: #00bfff;
}

/* lake titles */

.laketitle {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #606060;
}

.laketitle li {
  padding: 2px 15px 2px 15px;
  border-radius: 2px;
  font-size: 75%;
  background: asset_url('bgw50.png') repeat;
}

.largelaketitle {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #606060;
  font-size: 200%;
  font-weight: bold;
  border: none;
}

/* page titles */

h1 {
  position: relative;
  font-family: "Lucida Bright", Georgia, serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  color: #606060;
  font-size: 250%;
}

h2 {
  font-family: "Lucida Bright", Georgia, serif;
  line-height: 1em;
  color: #606060;
}

/* topo colors */

.topored {
  color: #c9231d;
}

/* main text */

.white {
  color: white;
}

.about-text {
  position: relative;
  color: white;
  z-index: 5;
}

.about {
  color: silver;  
}

p {
  color: white;
}

.logo {
  display: block;
  margin: 0px auto;
}

.main {
  position: fixed;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 24px;
  width: 300px;
  margin-left: 40%;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px white;
  bottom: 0;
}

.container {
  position: relative;
  width: 66%;
  max-width: 800px;
  margin: 0 auto 0 auto;
  padding: 5px 10px 10px 10px;
  border-radius: 6px;
}

.mainquote {
  position: relative;
  font-size: 14px;
  font-style: italic;
  color: white;
  z-index: 5;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  background: #fffdd3;
  padding-right: 30px;
  border-bottom-right-radius: 10px;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  display: inline;
  padding: 0px;
}

.strike {
  text-decoration: line-through;
}

/* colum set up */

.column1of3 {
  float: left;
  width: 25%;
  text-align: center;
  border: 1px #94726e solid;
  border-radius: 6px;
  margin-left: 6%;
  margin-right: 3%;
  padding-bottom: 10px;
}

.column2of3 {
  width: 25%;
  float: left;
  text-align: center;
  border: 1px #94726e solid;
  border-radius: 6px;
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 10px;
}

.column3of3 {
  float: left;
  width: 25%;
  text-align: center;
  border: 1px #94726e solid;
  border-radius: 6px;
  margin-left: 3%;
  margin-right: 5%;
  padding-bottom: 10px;
}

/* to contain floating columns and push down the bottom nav bar */
.columnwrap {
  position: relative;
  overflow: auto;
  width: 100%;
}

/* lakes page styles */

.lakes {
  font-family: Georgia, Times, serif;
  font-style: italic;
  font-size: 1.2em;
  color: black;
}

.lakes a {
  text-decoration: none;
  color: black;
}

.lakes a:hover {
  text-decoration: none;
  color: #5199e7;
}

/* transparent background */

.trans {
  background: asset_url('bgw50.png') repeat;
}

.transb {
  background: asset_url('bg50.png') repeat;
}

.transbd {
  background: asset_url('bg90.png') repeat;
}

/* Home Button */

.homebutton {
  position: absolute;
  float: left;
}

/* Prev Next Buttons */

#nextbutton:empty {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: asset_url('nextoff.png');
  background-size: 40px 40px;
  right: 10px;
  top: 50%;
}
#nextbutton:hover {
  background-image: asset_url('nexton.png')
}

#prevbutton:empty {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: asset_url('prevoff.png');
  background-size: 40px 40px;
  left: 10px;
  top: 50%;
}
#prevbutton:hover {
  background-image: asset_url('prevon.png')
}

/* Home Button */

#homebutton:empty {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: asset_url('logooff.png');
  background-size: 40px 40px;
}
#homebutton:hover {
  background-image: asset_url('logoon.png')
}

/* Note styles */

.notepic {
  position: relative;
  width: 400px;
  margin: auto;
}

.toptext {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  width: 380px;
  background: asset_url('bgw90.png') repeat;
}

.teaser {
  position: relative;
  width: 400px;
  margin: auto;
  color: white;
}

.noteimg {
  max-width: 100%;
}

.note {
  color: #ffb400;
}

.quote {
  position: relative;
  left: 50px;
  font-style: italic;
  font-size: .8em;
  width: 90%;
}